.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.shimmer-tile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  width: 100%;
}

.shimmer-image-container {
  width: 100%;
  height: 12.5rem;
  border-radius: .5rem;
  background-color: var(--clr-neutral-200);
}

.shimmer-info-container {
  width: 10rem;
  height: 1rem;
  border-radius: .25rem;
  background: linear-gradient(90deg, #eee 40%, var(--clr-neutral-300) 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}

@media (min-width: 48rem) {
  .shimmer-tile {
    width: 18.75rem;
  }

  .shimmer-image-container {
    width: 18.75rem;
  }
}
