.main-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.brand-logo img {
  width: 2rem;
}

.main-navbar ul {
  font-size: var(--fs-300);
  display: flex;
  align-items: center;
  gap: 7rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: .25rem;
  position: relative;
  width: 1.5rem;
}

.cart-count {
  position: absolute;
  left: 8px;
  top: 5.5px;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}
