.checkout-journey {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.accout {
  background-color: var(--clr-neutral-150);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.login-control {
  display: flex;
  gap: 2rem;
}

.login-control button {
  border: none;
  background-color: var(--clr-primary);
  padding: 1rem 2rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.delivery-address, .payment {
  padding: 2rem;
  font-weight: var(--fw-bold);
  background-color: var(--clr-neutral-150);
  color: var(--clr-neutral-700);
}

.delivery-address.disabled, .payment.disabled {
  color: var(--clr-neutral-600);
}

