.delivery-address-tile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  background: var(--clr-neutral-100);
  padding: 1rem;
}

.delivery-address-tile button {
  border: none;
  background-color: var(--clr-primary);
  padding: 1rem 2rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: box-shadow 250ms;
}

.delivery-address-tile button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (min-width: 48rem) {
  .delivery-address-tile {
    width: 15rem;
    align-items: center;
    padding: 2rem;
  }
}
