.food-tile {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  border-bottom: 2px solid var(--clr-neutral-200);
}

.food-info {
  width: calc(100% - 5rem - 200px);
}

.food-description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-image {
  width: 200px;
  overflow: hidden;
  border-radius: 1rem;
}

.food-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}