.order-history {
  max-width:  50rem;
  margin: auto;
}

.login-btn {
    border: none;
    background-color: var(--clr-primary);
    padding: .5rem 1rem;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    cursor: pointer;
    margin-block: 1rem;
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow 250ms;
  }
  
  .login-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .order-history-title {
    font-size: var(--fs-350);
    font-weight: var(--fw-black);
    margin-bottom: 1rem;;
  }

  .order-history-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: stretch;
    margin-bottom: 7rem;
  }

  @media (min-width: 48rem) {
    .order-history-container {
      margin-bottom: 5rem;
    }
  }
  