.restaurant-menu-tile {
  display: flex;
  flex-direction: column;
}

.food-category {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.restaurant-menu-tile .expanded {
  display: block;
}

.restaurant-menu-tile .collapsed {
  display: none;
}
