.restaurant-menu-tile {
  display: flex;
  flex-direction: column;
}

.food-category {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.food-category .collapsed {
  transform: rotate(0deg);
  transition: transform 250ms;
}

.food-category .expanded {
  transform: rotate(180deg);
  transition: transform 250ms;
}

.food-tile-block.expanded {
  display: block;
}

.food-tile-block.collapsed {
  display: none;
}
