.restaurant-list-title {
  font-size: var(--fs-400);
  font-weight: var(--fw-black);
  margin: 0;
  text-align: left;
}

.restaurant-list-title.seperator {
  padding-top: 2rem;
  border-top: 2px solid var(--clr-neutral-200);
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 1rem 0 6rem 0;
}

.top-restaurants-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-restaurants-scroll {
  display: none;
}

.scroll-control {
  background-color: var(--clr-neutral-200);
  border-radius: 50%;
  padding: .25rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 250ms;
}

.scroll-control:hover {
  background-color: var(--clr-neutral-300);
}

.scroll-control.left {
  transform: rotate(180deg);
}

.top-restaurants-list {
  padding: 1rem 0.25rem;
  margin: 0 !important;
  flex-wrap: nowrap;
  justify-content: start;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.top-restaurants-list::-webkit-scrollbar
{
  height: 0;
}

.restaurant-not-available {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-tile-link {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.restaurant-not-available img {
  width: 20rem;
}

.restaurant-not-available .title {
  font-size: var(--fs-400);
  font-weight: var(--fw-black);
}

.order-placed-dialog-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.50);
}

.order-placed-dialog {
  position: fixed;
  z-index: 10;
  border: 2px solid var(--clr-success);
  border-radius: 1rem;
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
}

.order-placed-dialog .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.order-placed-image {
  margin: 1rem;
}

.order-placed-dialog-title {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  text-align: center;
}

@media (min-width: 48rem) {
  .top-restaurants-list {
    padding: 1rem;
  }

  .restaurant-list {
    margin: 1rem;
    gap: 2.5rem;
  }

  .top-restaurants-scroll {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
  }

  .restaurant-list-title {
    text-align: left;
    margin: 0 1rem 0;
  }

  .restaurant-tile-link {
    width: auto;
    box-shadow: none;
    border-radius: 0;
  }

  .order-placed-image {
    margin: 5rem 5rem 2rem;
  }
}
