.restaurant-tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all 250ms;
}

.restaurant-tile.top-restaurant {
  width: 15rem;
}

.restaurant-tile:hover {
  transform: scale(1, 1);
}

.restaurant-tile-image-container {
  width: 100%;
  aspect-ratio: 1.5/.85;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.restaurant-tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-tile-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.restaurant-tile-info-group {
  display: flex;
  gap: 1rem;
  font-weight: var(--fw-bold);
  align-items: center;
}

.restaurant-name {
  font-weight: var(--fw-bold);
}

.cuisine {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 48rem) {
  .restaurant-tile, .restaurant-tile.top-restaurant {
    width: 18.5rem;
  }

  .restaurant-tile:hover {
    transform: scale(1.05, 1.05);
  }

  .restaurant-tile-image-container {
    width: 18.5rem;
    height: 12.5rem;
    border-radius: 8px;
  }
}