.restaurant-bill {
  background-color: var(--clr-neutral-150);
}

.checkout-restaurant-info {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.checkout-restaurant-info img {
  width: 5rem;
  height: auto;
}

.checkout-restaurant-info .restaurant-details {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
}

.cart-item-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid var(--clr-neutral-200);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-info {
  display: flex;
  gap: .5rem;
}

.food-classifier-icon {
  width: 1.25rem;
}

.cart-item .right-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item .right-info .item-price {
  width: 4rem;
  text-align: right;
}

.bill-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid var(--clr-neutral-700);
}

.bill-details-title {
  font-weight: var(--fw-bold);
}

.bill-detail-row {
  display: flex;
  justify-content: space-between;
}

.total-amount {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}