.restaurant {
  max-width: 50rem;
  margin-inline: auto;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 10rem;
  gap: 1rem;
}

.cart-notification {
  height: 5rem;
  width: 100vw;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 250ms;
}

.cart-notification.hide {
  bottom: -5rem;
}

.cart-notification.show {
  bottom: 4.25rem;
}

.cart-notification-container {
  max-width: 50rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--fw-bold);
  cursor: pointer;
  padding: 0 1rem;
}

@media (min-width: 48rem) {
  .cart-notification.show {
    bottom: 0;
  }

  .restaurant-menu {
    margin-top: 2rem;
    margin-bottom: 6rem;
    gap: 2rem;
  }
}

@media (min-width: 62rem) {
  .cart-notification-container {
    padding: 0;
  }
}
