.restaurant-tile {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  transition: all 250ms;
}

.restaurant-tile:hover {
  transform: scale(1.05, 1.05);
}

.restaurant-tile-image-container {
  width: 18.75rem;
  height: 12.5rem;
  overflow: hidden;
  border-radius: .5rem;
}

.restaurant-tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-tile-info {
  padding: 1rem;
}

.restaurant-tile-info-group {
  display: flex;
  gap: 1rem;
  font-weight: var(--fw-bold);
}

.restaurant-name {
  font-weight: var(--fw-bold);
}

.cuisine {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}