.search {
  max-width: 60rem;
  margin: auto;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font: inherit;
}

.search-bar img {
  position: absolute;
  width: 1.5rem;
  right: 8px;
  top: 12px;
}

.popular-cuisines {
  padding: 3rem 2rem;
}

.popular-cuisines-title {
  font-size: var(--fs-350);
  font-weight: var(--fw-black);
}

.popular-cuisine-list {
  display: flex;
  flex-wrap: wrap;
}

.popular-cuisine-list img {
  width: 100px;
  cursor: pointer;
}
