.search-suggest-tile {
  display: flex;
  padding: 1rem;
  margin: 1rem 0;
  gap: 2rem;
}

.suggest-image-container {
  width: 4rem;
  height: 4rem;
  border-radius: .5rem;
  overflow: hidden;

}

.search-suggest-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}