#root {
  max-width: 1400px;
  margin: 5rem auto 0;
  padding-inline: 1rem;
}

.rating {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.rating-green::before {
  content: "";
  background: url('./assets/star_green.svg') no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.rating-red::before {
  content: "";
  background: url('./assets/star_red.svg') no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

@media (min-width: 48rem) {
  #root {
    padding-inline: 2rem;
    margin: 7rem auto 0;
  }
}
